/* Global Styling */

body {
    margin: 0;
    background-color: #1e2731;
}


button:hover {
    background-color: rgba(0, 136, 107, 0.768); 
}


table {

    border: 1px black solid;
    empty-cells: show;
    font-size: 15px;
    overflow: scroll;
}


th {
    height: 20px;
    width: 60px;
    border: 1px black solid;
}




.header {
    width: 100%;
    position: fixed;
    text-align: center; 
    height:44px;  
    background-color: #3c454f;
    overflow: hidden;
   
}


.header-info {
    font-size: 17px;
    float: right;
    padding: 10px 15px 9px 15px !important;
   
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;  
}


.header-img {
    width: 44px;
    margin-left: 20px;
    float: left;
    filter: invert();
}


.header-link-1 {
    text-decoration: none;
    padding: 25px;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.header-link-2 {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 20px;
    cursor: pointer;
   
}

.header-link-3 {
    color: rgb(255, 255, 255);
    
    text-decoration: none;
    padding: 20px;
    cursor: pointer;
}

.header-link-1:hover, .header-link-2:hover, .header-link-3:hover {
    background-color: rgb(53, 48, 48);
}

.header-img:hover {
    filter: invert(0.5);
}


.html, body {
    height: 100%;
}


.user-icon {
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-top: 50px;
    
}


.user-header {
    font-size: 25px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    text-align: center;
    font-weight: bold;
}


.content-box {
    display: block;
    width: 100%;
}