body
{
    margin: 0;
}

.user-text
{
    resize: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    width:  40%;
    rows: 1;
}

.header
{
    width: 100%;
    position: fixed;
    text-align: center; 
    height:44px;  
    background-color: #3c454f;
    overflow: hidden;
   
}

table
{
    margin: 40px;
    border: 1px black solid;
    empty-cells: show;
    font-size: 15px;
    overflow: scroll;
}

th
{
    height: 20px;
    width: 60px;
    border: 1px black solid;
}

.header-info
{
    font-size: 17px;
    float: right;
    padding: 10px 15px 9px 15px !important;
   
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    
   
}

.header-img
{
    width: 44px;
    margin-left: 20px;
    float: left;
    filter: invert();
}


.header-link-1
{
    text-decoration: none;
    padding: 25px;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.header-link-2
{
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 20px;
    cursor: pointer;
   
}

.header-link-3
{
    color: rgb(255, 255, 255);
    
    text-decoration: none;
    padding: 20px;
    cursor: pointer;
}

.header-link-1:hover, .header-link-2:hover, .header-link-3:hover
{
    background-color: rgb(53, 48, 48);
}

.header-img:hover
{
    filter: invert(0.5);
}


.login-button
{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 40%;
    margin-top: 5%;
    height: 40px;
    border-radius: 8px;
    border-style: double;
    
}

.login-panel
{
    width: 700px;
    height: 60ex;
    background-color: rgb(80, 80, 80);
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
    
}

.html, body
{
    height: 100%;
}

.bg 
{
    background-image: url("https://i.stack.imgur.com/H9kT6.jpg");
    background-position: center;
    background-size: cover;

}

.user-icon
{
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-top: 50px;
    filter: invert();
}

.schedule-view
{
    width: 600px;
    height: 400px;
    margin: 50px;
    margin-left: 10%;
    
    display: inline-block;
    border: 2px black solid;
    border-radius: 5%;
}

.invoice-list
{   
    margin-top: 30px;
    list-style: none;
    list-style-type: none;
    padding: 0;

}

.user-header
{
    font-size: 25px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    text-align: center;
    font-weight: bold;
}

.expected-pay
{
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 20%;
    font-weight: bold;
}

.invoice-view
{
    width: 300px;
    height: 400px;
  
    margin: 50px;
    display: inline-block;
    border: 2px black solid;
    border-radius: 5%;
}

.content-box
{
    display: block;
    width: 100%;
}